@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@-webkit-keyframes heartbeat {
  0% {
    transform: scale(0.6);
  }
  25% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(0.6);
  }
  25% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes heartbeatAlt {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  40% {
    transform: translate(-50%, -50%) scale(1);
  }
  60% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  80% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes heartbeatAlt {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  40% {
    transform: translate(-50%, -50%) scale(1);
  }
  60% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  80% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
* {
  box-sizing: border-box;
}

.hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  display: none;
  overflow: hidden;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #fbfcfc;
}

.challenge-title {
  text-align: center;
  padding: 0;
  margin: 1rem 0 0;
  color: #2f363d;
  font-size: 2rem;
  font-weight: bold;
}

.challenge-subtitle {
  text-align: center;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
  color: #b5bbc3;
}

.challenge-part-of {
  text-align: center;
  margin: 1rem 0 0;
  font-size: 0.875rem;
  color: #b5bbc3;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.challenge-part-of a,
.challenge-part-of a:visited {
  color: #b5bbc3;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}
.challenge-part-of a:hover, .challenge-part-of a:active,
.challenge-part-of a:visited:hover,
.challenge-part-of a:visited:active {
  color: #d1d5da;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
}
.btn:focus {
  outline: 1px dotted #98a1ad;
}
.btn svg {
  fill: #8a94a1;
  width: 100%;
  height: 100%;
}

.instalink,
.instalink:visited {
  margin-bottom: 0.25rem;
  color: #2f363d;
  text-decoration: none;
  font-weight: bold;
}
.instalink:hover, .instalink:active,
.instalink:visited:hover,
.instalink:visited:active {
  text-decoration: underline;
}

.instapost {
  margin: 2rem;
  width: 600px;
  background-color: white;
  border: 1px solid #dfe2e5;
  display: flex;
  flex-direction: column;
  line-height: 1.125rem;
}
.instapost__header {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.instapost__header .profile-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.instapost__header .profile-name {
  display: flex;
  flex-direction: column;
  margin-left: 0.875rem;
}
.instapost__header .profile-name a {
  font-size: 0.875rem;
}
.instapost__header .profile-name a.location,
.instapost__header .profile-name a.location:active {
  color: #5b6977;
  text-decoration: none;
}
.instapost__header .btn-more {
  margin: 0 0 0 auto;
}
.instapost__image {
  position: relative;
}
.instapost__image .img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  display: none;
}
.instapost__image .img.show {
  display: block;
}
.instapost__image .like-heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.instapost__image .like-heart svg {
  fill: white;
  filter: drop-shadow(0 0 0.5rem #2f363d);
}
.instapost__image .like-heart.show {
  display: block;
  -webkit-animation: heartbeatAlt 0.8s linear forwards;
          animation: heartbeatAlt 0.8s linear forwards;
}
.instapost__image .ctrl {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instapost__image .ctrl button {
  width: 1.875rem;
  height: 1.875rem;
  font-size: 1.125rem;
  border: 0;
  border-radius: 50%;
  background-color: #edeff1;
  cursor: pointer;
}
.instapost__image .ctrl button:focus {
  outline: 0;
}
.instapost__image .ctrl.hide {
  display: none;
}
.instapost__image .ctrl-left {
  top: 0;
  left: 0;
  width: 3rem;
  height: 100%;
  cursor: pointer;
}
.instapost__image .ctrl-right {
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  cursor: pointer;
}
.instapost__action {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.instapost__action .btn svg {
  fill: #2f363d;
}
.instapost__action .btn-like .like-icon {
  display: block;
}
.instapost__action .btn-like .dislike-icon {
  display: none;
  fill: #ed4956;
}
.instapost__action .btn-like.dislike .like-icon {
  display: none;
}
.instapost__action .btn-like.dislike .dislike-icon {
  display: block;
  -webkit-animation: heartbeat 0.8s linear;
          animation: heartbeat 0.8s linear;
  fill: #ed4956;
}
.instapost__action .btn-save {
  margin-left: auto;
}
.instapost__likes {
  color: #5b6977;
  font-size: 0.875rem;
  padding: 0 1rem;
  margin: 0 0 0.5rem;
}
.instapost__description {
  color: #5b6977;
  font-size: 0.875rem;
  padding: 0 1rem;
}
.instapost__comment-list, .instapost__comment-list:visited {
  color: #728393;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.instapost__timestamp {
  color: #728393;
  text-transform: uppercase;
  font-size: 0.625rem;
  padding: 0 1rem 0.25rem;
}
.instapost__add-comment {
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem 0;
  border-top: 1px solid #edeff1;
}
.instapost__add-comment .btn-smiley svg {
  fill: #2f363d;
}
.instapost__add-comment textarea {
  flex: 1;
  border: 0;
  resize: none;
}
.instapost__add-comment textarea:focus {
  outline: 0;
}
.instapost__add-comment .btn-send-comment {
  color: #0095f6;
  width: auto;
  font-size: 0.875rem;
  font-weight: bold;
}
.instapost__add-comment .btn-send-comment[disabled=disabled] {
  cursor: default;
  opacity: 0.3;
}